<form #f="ngForm">
    <div class="form-group">
        <label for="">Course Name</label>
        <input ngModel name="courseName" #courseName="ngModel" 
        required minlength="5" type="text" class="form-control" (change)="log(courseName)">
        <div>
            <div  class="alert alert-danger" *ngIf="courseName.touched && courseName.errors?.required">Course name is required!</div>
            <div  class="alert alert-danger" *ngIf="courseName.touched && courseName.errors?.minlength">Course name should be at least {{ courseName.errors.minlength.requiredLength }} characters!</div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select required ngModel #category="ngModel" name="category" id="category" class="form-control">
            <option *ngFor="let category of courseCategories" [value]=category.id>{{ category.name }}</option>
        </select>
        <div  class="alert alert-danger" *ngIf="category.touched && category.errors?.required">Course name is required!</div>
    </div>
    <div class="checkbox">
        <label for="">
            <input type="checkbox" ngModel name="moneyBack">30-day money-back guranteed
        </label>
    </div>
    <p>{{ f.value | json }}</p>
    <button class="btn btn-primary" [disabled]="!f.valid">Create</button>
</form>
